<!DOCTYPE html>
<html>
  <head>
    <title>YT Voting</title>

    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700|Roboto%20Condensed:400,700" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="index.css">
  </head>

  <body>
    <div id="header">
      <div class="itm brand">#youtube voting</div>
      <div class="expand"></div>
      <div class="itm">{{user.username}}</div>
      <div class="itm"><a href="lo">Log out</a></div>
    </div>

    <div id="body">

      {% macro vote_thing(vote, card, user) %}
        {% if user.id in card.votes[vote] %}
          <a class="vote-wrap{{ ' act' if (user.id in card.votes[vote]) else '' }}">
            <div class="{{ vote }}-vote c-vote"></div>
            <div class="v-count">{{ card.votes[vote] | length }}</div>
          </a>
        {% else %}
          <a class="vote-wrap{{ ' act' if (user.id in card.votes[vote]) else '' }}"
             href="vote/{{ card.chan }}/{{ vote }}">
            <div class="{{ vote }}-vote c-vote"></div>
            <div class="v-count">{{ card.votes[vote] | length }}</div>
          </a>
        {% endif %}
      {% endmacro %}

      {% for card in things %}
        <div class="card">
          <a href="https://youtube.com/{{ card.chan | replace('=', '/') }}">
            <div class="c-img" style="background-image:url({{ card.image }})"></div>
            <div class="c-meta">{{ card.meta }}</div>
          </a>
          <div class="c-foot">
            {{ vote_thing('y', card, user) }}
            {{ vote_thing('m', card, user) }}
            {{ vote_thing('n', card, user) }}
          </div>
        </div>
      {% endfor %}

    </div>
  </body>
</html>
