* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  min-height: 100vh;
  height: 100%;

  background-color: #16151d;
  color: #fff;
  font-family: roboto condensed, Helvetica, sans-serif;
}

a {
  color: #7289DA;
  text-decoration: none;
}

#header {
  background-color: #0b0a0d;
  min-height: 3.5em;
  align-items: center;
  width: 100%;
  display: flex;
  flex-direction: row;
  font-size: 13px;
  color: #b9b9b9;
  text-transform: uppercase;
  font-weight: 700;
}

#header .itm {
  padding: 1.1875em 1.125em;
  color: inherit;
  text-decoration: none;
}

#body {
  max-width: 1200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 16px auto;
}

.card {
  width: 200px;
  background-color: #1d1b26;
  border-radius: 3px;
  margin: 16px;
}

.c-meta {
  text-align: center;
  margin: 4px 0;
}

.c-img {
  width: 200px;
  height: 200px;
  background-color: #000;
  background-size: cover;
  background-position: center;
}

.c-foot {
  display: flex;
  justify-content: center;
  margin: 4px 0;
}

.c-vote {
  width: 1em;
  height: 1em;
  margin: 3px 0;
  background-position: center;
  background-size: contain;
}

.y-vote {
  background-image: url(https://cdn.discordapp.com/emojis/381976157442277389.png?v=1);
}

.m-vote {
  background-image: url(https://cdn.discordapp.com/emojis/381976183480254484.png?v=1);
}

.n-vote {
  background-image: url(https://cdn.discordapp.com/emojis/381976169374941195.png?v=1);
}

.vote-wrap {
  display: flex;
  align-items: center;
  background: hsla(0, 0%, 100%, .04);

  border-radius: 3px;
  cursor: pointer;
  flex-shrink: 0;
  margin: 2px 6px;
  user-select: none;
  padding: 0 6px;
}

.vote-wrap.act {
  background: hsla(0, 0%, 100%, .08);
}

.v-count {
  font-size: 0.875rem;
  font-weight: 500;
  letter-spacing: 0.00813rem;
  margin-left: 6px;
  text-align: center;

  color: hsla(0, 0%, 100%, .3);
  min-width: 9px;
}

input {
    min-width: 75vw;
    text-align: center;
    color: #fff;
    padding: .58em .5em;
    border: none;
    border-bottom: 1px solid hsla(0,0%,100%,.2);
    margin: 50px 0 1em;
    font-size: 1em;
    background: none;
    outline: none;
}

input:focus {
    border-color: #7289DA;
}

.btn {
    border: 1px solid #7289DA;
    background: none;
    text-transform: uppercase;
    font-family: roboto condensed,Helvetica,sans-serif;
    padding: .8em 1.6em;
    margin: .6875em auto;
    color: hsla(0,0%,100%,.7);
    font-size: 12px;
    font-weight: 700;
    outline: none;
    min-height: 1em;

    display: block;
    text-decoration: none;
    cursor: pointer;
}

.vote-wrap.act .v-count {
  color: hsla(0, 0%, 100%, .5);
}

.expand {
  flex-grow: 1;
}
